export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_CACHE_HOME="${HOME}/.cache"
export XDG_DATA_HOME="${HOME}/.local/share"

export XMODIFIERS=@im=fcitx
export LIBVA_DRIVER_NAME=iHD
export EDITOR=nvim

export ZDOTDIR="${XDG_CONFIG_HOME}/zsh"
export ZSH_CACHE_DIR="${XDG_CACHE_HOME}/zsh"

export PATH="${HOME}/.local/bin:${PATH}"
